html, body {
  margin: 0;
  padding: 0;
  background-color: #D2DFEB;
  font-family: 'Inter', sans-serif;
  color: #424242;
}
.modal {
  max-height: 85vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  background-color: #fff;
  margin: 3%;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
img {
  width: 120px;
  border-radius: 5px;
}
.main-img {
  width: 100%;
  border-radius: 10px;
}
.thumbnails {
  display: flex;
  gap: 10px;
  margin: 7px 0 40px 0;
}
img.active,
.thumbnails img:hover {
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.tab {
  background: none;
  border: none;
  font-size: 1rem;
  margin-right: 10px;
}
.tab.active {
  font-weight: 600;
}

#questions,
#reviews {
  display: none;
}
